body {
     /*background-color: #FFDAB9;*/
     background-image: url("home.jpg");
     background-repeat: no-repeat;


}

.topnav {
    background-color: #672E3B;
    overflow: hidden;
    /*display: inline-block;*/
    position: relative;
    left: 0px;


}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color:  #005960;
    color: black;
}

/* Add an active class to highlight the current page */
.active {
    background-color:  #005960;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}