<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="common.css">
</head>
<body>

<div class="topnav" id="myTopnav">
  <a href="#home" class="active">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
<h2>Manage Your Diary</h2>
<br><br><br>

<form action="">

 <fieldset>
  <legend>Login:</legend>
  <div class="container">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">

    <button type="button" class="cancelbtn">Cancel</button>
    <span>Don't have an account? <a href="register.html">Sign up</a>.</span>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
 </fieldset>
</form>
</body>
</html>